/* Resetter */
* {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

/* Color Properties */
:root {
  --color-darker: rgb(48, 48, 48);
  --color-dark: rgb(64, 64, 64);
  --color-lessdark: rgb(85, 83, 83);
  --color-lesslight: hsl(0, 0%, 84%);
  --color-light: hsl(0, 0%, 88%);
  --color-lighter: hsl(0, 0%, 100%);
  --color-green: #26ce6c;
  --color-red: #f32f50;
  --color-accent: #2b84e9;
  /* you could add an accent color for CTAs and anchor tags ;-) */
  --font-body: "Inter", sans-serif;
  --font-display: "Inter", sans-serif;
}

/* Fonts */
html {
  font-size: 18px;
  font-family: var(--font-body);
}

h1,
h2,
h3 {
  color: var(--color-darker);
  font-family: var(--font-display);
  font-weight: 700;
  line-height: 1.1;
}

h1 {
  font-size: 3.052rem;
  margin-bottom: 0.5rem;
}

h2 {
  font-size: 2.441rem;
  margin-bottom: 1.5rem;
}

h3 {
  font-size: 1.4rem;
  margin-bottom: 1.5rem;
}

p {
  color: var(--color-dark);
  line-height: 1.6;
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
}

/* UI Elements */
button {
  display: inline-block;
  height: 2rem;
  padding: 0.5rem 1rem;
  border: none;
  text-align: center;
  text-decoration: none;
  background-color: var(--color-darker);
  color: var(--color-lighter);
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

button:hover {
  background-color: var(--color-lessdark);
}

.light_button {
  background-color: var(--color-lighter);
  color: var(--color-darker);
}

.light_button:hover {
  background-color: var(--color-lessdark);
  color: var(--color-light);
}

input[type="text"] {
  box-sizing: border-box;
  width: 250px;
  height: 2rem;
  padding: 0.5rem;
  text-align: left;
  background-color: var(--color-lighter);
  border-color: var(--color-light);
  color: var(--color-dark);
}

/* Menu */
nav {
  display: flex;
  padding: 0.5rem;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-darker);
}

nav a {
  color: white;
  text-decoration: none;
}

/* Header */
header {
  display: flex;
  min-height: 80vh;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap-reverse;
  gap: 2rem;
  background-color: var(--color-dark);
  padding: 2rem 0;
}

.header_text {
  width: 40vw;
  min-width: 300px;
}

.header_text h1 {
  color: var(--color-lighter);
  margin-bottom: 1.5rem;
}

.header_text p {
  color: var(--color-light);
}

.header_graphics {
  width: 35vw;
  height: 35vw;
  min-width: 300px;
  min-height: 300px;
  background-color: var(--color-darker);
}

/* Sections */
#intro {
  display: flex;
  min-height: 80vh;
  padding: 0px 15rem;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap-reverse;
  background-color: var(--color-light);
}

.intro_text {
  width: 40vw;
  min-width: 450px;
}
.intro_text h2 {
  margin-bottom: 2rem;
}

.intro_graphics {
  width: 15vw;
  height: 15vw;
  min-width: 150px;
  min-height: 150px;
  background-color: var(--color-dark);
}

.intro_actions {
  position: relative;
  height: 2rem;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

#intro_demo {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  box-sizing: border-box;
  border: none;
  background-color: transparent;
  border: solid 2px transparent;
  transition: 0.5s ease-in-out;
  border-bottom: solid 2px var(--color-dark);
}

.intro_actions button {
  position: absolute;
  width: fit-content;
  height: 100%;
  right: 0;
  box-sizing: border-box;
  transition: 0.5s ease-in-out;
}

#intro_demo_label {
  position: absolute;
  z-index: 10;
  left: 0.5rem;
  transition: 0.5s ease-in-out;
}
#intro_demo:focus {
  outline: none;
  border: solid 2px var(--color-dark);
}

#intro_demo:valid {
  outline: none;
  border: solid 2px var(--color-dark);
}

#intro_demo:valid + #intro_demo_label {
  transform: translateY(-1.1rem);
  background-color: var(--color-light);
  padding: 0.1rem 0.2rem;
}

#intro_demo:focus-within + #intro_demo_label {
  transform: translateY(-1.1rem);
  background-color: var(--color-light);
  padding: 0.1rem 0.2rem;
}

#cards {
  min-height: 80vh;
  padding: 5rem 2rem;
  background-color: var(--color-lighter);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#card_container {
  display: grid;
  margin-top: 4rem;
  grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));
  grid-gap: 2rem;
  justify-items: center;
  width: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-shadow: 0px 4px 24px var(--color-light);
  border-radius: 0.5rem;
  overflow: hidden;
  padding: 1.5rem 2rem;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  transition: 0.5s ease;
}

.card:hover {
  transform: translateY(-4px);
  box-shadow: 0px 4px 32px var(--color-lesslight);
}

.card_name {
  margin: 0;
  margin-bottom: 0.5rem;
  text-align: center;
}

.card_slogan {
  text-align: center;
  margin-bottom: 0.3rem;
  font-size: 1rem;
  white-space: pre;
  font-size: 0.8rem;
  color: var(--color-lessdark);
}
.card_title {
  margin-bottom: 0.3rem;
  font-size: 0.9rem;
  font-weight: 700;
  color: var(--color-lessdark);
}
.card_mail {
  margin-bottom: 1.2rem;
  font-size: 0.8rem;
  position: relative;
  padding: 0;
}

.card_mail a {
  color: var(--color-accent);
  font-family: var(--font-display);
  font-weight: 400;
  text-decoration: none;
  position: relative;
  transition: 0.5s ease-in-out;
}

.card_mail:before {
  content: "";
  position: absolute;
  background-color: var(--color-light);
  width: 1.5rem;
  height: calc(100% + 4px);
  aspect-ratio: 1/1;
  left: -6%;
  top: -1px;
  border-radius: 3rem;
  transition: 0.5s cubic-bezier(0.65, 0.01, 0.32, 1);
}

.card_mail:hover a {
  color: var(--color-lighter);
}

.card_mail:hover:before {
  aspect-ratio: initial;
  width: 112%;
  background-color: var(--color-accent);
}

.card .card_image {
  aspect-ratio: 1/1;
  width: 60%;
  border-radius: 50%;
  margin-bottom: 1rem;
  filter: drop-shadow(0px 0px 12px var(--color-light));
  transition: 0.3s ease-in-out;
}

.card:hover .card_image {
  border-radius: 1rem;
  transform: translateY(-4px);
}

.card_actions {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  box-sizing: border-box;
  padding: 0 1rem;
  gap: 0.8rem;
}

.card_actions input {
  width: 100%;
}

#info {
  display: flex;
  min-height: 80vh;
  padding-left: 2rem;
  align-items: center;
  justify-content: center;
  background-color: var(--color-light);
}

.info_text {
  width: 60vw;
  min-width: 300px;
}
.info_text p {
  margin-bottom: 1rem;
}
.info_text h2 {
  margin-bottom: 1rem;
}

#contact {
  display: flex;
  min-height: 80vh;
  padding-left: 2rem;
  align-items: center;
  justify-content: center;
}
#contact > div {
  max-width: 50vw;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.contact-actions {
  display: flex;
  width: 100%;
  align-items: center;
  position: relative;
}
.contact-actions input {
  width: 100%;
  position: absolute;
  border: solid 2px transparent;
  border-bottom: solid 2px var(--color-dark);
  transition: 0.5s ease-in-out;
}

.contact-actions input:focus {
  outline: none;
  border: solid 2px var(--color-dark);
}

#contact_actions_label {
  position: absolute;
  z-index: 10;
  left: 0.5rem;
  transition: 0.5s ease-in-out;
}

.contact-actions label {
  z-index: 10;
  cursor: pointer;
}

.contact-actions button {
  right: 0;
  position: absolute;
}

.contact-actions input:valid {
  outline: none;
  border: solid 2px var(--color-dark);
}

.contact-actions input:valid + #contact_actions_label {
  transform: translateY(-1.1rem);
  background-color: var(--color-lighter);
  padding: 0.1rem 0.2rem;
}

.contact-actions input:focus-within + #contact_actions_label {
  transform: translateY(-1.1rem);
  background-color: var(--color-lighter);
  padding: 0.1rem 0.2rem;
}

/* Footer */
footer {
  display: flex;
  padding: 5vh 2rem;
  align-items: top;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: var(--color-darker);
}

footer h2,
footer h3 {
  color: var(--color-lighter);
}

footer a {
  color: var(--color-light);
  transition: 0.5s ease-in-out;
}

footer a:hover {
  color: var(--color-lighter);
}

footer section {
  display: flex;
  max-width: 50vw;
  align-items: top;
  flex-wrap: wrap;
  justify-content: space-between;
}

footer section div {
  margin: 0px 1rem 1rem 1rem;
}

footer li {
  padding: 0.2rem 0;
}

/* buttons */

.card_button_positive,
.card_button_negative {
  background: none;
  border: none;
  font-family: var(--font-display);
  color: var(--color-darker);
  cursor: pointer;
  padding: 0.5rem;

  font-size: 0.9rem;
  font-weight: 700;
  border: solid 2px var(--color-light);
  position: relative;
  display: block;
  transition: 0.3s ease-in-out;
}

.card_button_positive:hover {
  background-color: var(--color-green);
  border-color: var(--color-green);
  color: var(--color-lighter);
}

.card_button_negative:hover {
  background-color: var(--color-red);
  border-color: var(--color-red);
  color: var(--color-lighter);
}
